# Ігнорування файлів і директорій, що створюються Gradle
.gradle/
build/

# Ігнорування конфігурацій IDE (IntelliJ IDEA)
.idea/
*.iml

# Ігнорування логів
*.log

# Ігнорування файлів, що створюються системою
.DS_Store
Thumbs.db

# Ігнорування Gradle Wrapper файлів, які можна відновити
gradle/wrapper/gradle-wrapper.jar

# Ігнорування файлів, які не повинні бути включені в репозиторій
*.tmp
*.bak
*.swp

# Ігнорування кодування метаданих
*.class
